In [ ]:
!pip install pyspark

In [2]:
import pyspark

Pyspark will not run if Java is not installed on the computer. PySpark 4.x requires Java 17 or 21. PySpark 3.5 works perfectly with Java 8

In [ ]:
pyspark.__version__

In [ ]:
pip uninstall pyspark -y

In [ ]:
# Force install pyspark version
!pip install pyspark==3.5.1

In [1]:
import pyspark

In [4]:
#Build a Pyspark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [21]:
# read csv file in pyspark
df = spark.read.csv(
    r'C:\Users\User\Documents\PORTFOLIO\NYC TAXI DATA\yellow_tripdata\csv_trip_data\yellow_tripdata_2024-01.csv'
    ,header=True #sets the first row to be the header
    ,inferSchema = True #Default is string if infer Schema is not specified.Ensures to infer the correct datatype of columns. 
)

In [33]:
#Another way to read files
df=spark.read.option('header','true').csv(
    r'C:\Users\User\Documents\PORTFOLIO\NYC TAXI DATA\yellow_tripdata\csv_trip_data\yellow_tripdata_2024-01.csv'
)

In [34]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2|2024-01-01 00:57:...| 2024-01-01 01:17:...|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|    1|    0.5|         0|           0|                    1|        22.7|                 2.5|          0|
|       1|2024-01-01 00:03:...| 2024-01-01 00:09:...|              1|          1.8|         1|                 N|         140|         236|           1|         10|  3.5|    0.5|      3.75|           0|                    1|       18.75|                 2.5|          0|
|       1|2024-01-01 00:17:...| 2024-01-01 00:35:...|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|         3|           0|                    1|        31.3|                 2.5|          0|
|       1|2024-01-01 00:36:...| 2024-01-01 00:44:...|              1|          1.4|         1|                 N|          79|         211|           1|         10|  3.5|    0.5|         2|           0|                    1|          17|                 2.5|          0|
|       1|2024-01-01 00:46:...| 2024-01-01 00:52:...|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|           0|                    1|        16.1|                 2.5|          0|
|       1|2024-01-01 00:54:...| 2024-01-01 01:26:...|              1|          4.7|         1|                 N|         148|         141|           1|       29.6|  3.5|    0.5|       6.9|           0|                    1|        41.5|                 2.5|          0|
|       2|2024-01-01 00:49:...| 2024-01-01 01:15:...|              2|        10.82|         1|                 N|         138|         181|           1|       45.7|    6|    0.5|        10|           0|                    1|       64.95|                   0|       1.75|
|       1|2024-01-01 00:30:...| 2024-01-01 00:58:...|              0|            3|         1|                 N|         246|         231|           2|       25.4|  3.5|    0.5|         0|           0|                    1|        30.4|                 2.5|          0|
|       2|2024-01-01 00:26:...| 2024-01-01 00:54:...|              1|         5.44|         1|                 N|         161|         261|           2|         31|    1|    0.5|         0|           0|                    1|          36|                 2.5|          0|
|       2|2024-01-01 00:28:...| 2024-01-01 00:29:...|              1|         0.04|         1|                 N|         113|         113|           2|          3|    1|    0.5|         0|           0|                    1|           8|                 2.5|          0|
|       2|2024-01-01 00:35:...| 2024-01-01 00:41:...|              2|         0.75|         1|                 N|         107|         137|           1|        7.9|    1|    0.5|         0|           0|                    1|        12.9|                 2.5|          0|
|       1|2024-01-01 00:25:...| 2024-01-01 00:34:...|              2|          1.2|         1|                 N|         158|         246|           1|       14.9|  3.5|    0.5|      3.95|           0|                    1|       23.85|                 2.5|          0|
|       1|2024-01-01 00:35:...| 2024-01-01 01:11:...|              2|          8.2|         1|                 N|         246|         190|           1|         59|  3.5|    0.5|     14.15|        6.94|                    1|       85.09|                 2.5|          0|
|       1|2024-01-01 00:43:...| 2024-01-01 00:47:...|              2|          0.4|         1|                 N|          68|          90|           1|        5.8|  3.5|    0.5|      1.25|           0|                    1|       12.05|                 2.5|          0|
|       1|2024-01-01 00:51:...| 2024-01-01 00:55:...|              1|          0.8|         1|                 N|          90|          68|           2|        6.5|  3.5|    0.5|         0|           0|                    1|        11.5|                 2.5|          0|
|       1|2024-01-01 00:50:...| 2024-01-01 01:03:...|              1|            5|         1|                 N|         132|         216|           2|       21.2| 2.75|    0.5|         0|           0|                    1|       25.45|                   0|       1.75|
|       1|2024-01-01 00:41:...| 2024-01-01 00:53:...|              1|          1.5|         1|                 N|         164|          79|           1|       12.8|  3.5|    0.5|      4.45|           0|                    1|       22.25|                 2.5|          0|
|       2|2024-01-01 00:52:...| 2024-01-01 00:52:...|              1|            0|         1|                 N|         237|         237|           2|          3|    1|    0.5|         0|           0|                    1|           8|                 2.5|          0|
|       2|2024-01-01 00:56:...| 2024-01-01 01:03:...|              1|          1.5|         1|                 N|         141|         263|           1|        9.3|    1|    0.5|         3|           0|                    1|        17.3|                 2.5|          0|
|       2|2024-01-01 00:32:...| 2024-01-01 00:49:...|              1|         2.57|         1|                 N|         161|         263|           1|       17.7|    1|    0.5|        10|           0|                    1|        32.7|                 2.5|          0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [19]:
# Check dataframe type
type(df)

pyspark.sql.dataframe.DataFrame

In [24]:
#Print Schema
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [29]:
# Select columns in pyspark
df.select('VendorID','tpep_pickup_datetime').show()

+--------+--------------------+
|VendorID|tpep_pickup_datetime|
+--------+--------------------+
|       2| 2024-01-01 00:57:55|
|       1| 2024-01-01 00:03:00|
|       1| 2024-01-01 00:17:06|
|       1| 2024-01-01 00:36:38|
|       1| 2024-01-01 00:46:51|
|       1| 2024-01-01 00:54:08|
|       2| 2024-01-01 00:49:44|
|       1| 2024-01-01 00:30:40|
|       2| 2024-01-01 00:26:01|
|       2| 2024-01-01 00:28:08|
|       2| 2024-01-01 00:35:22|
|       1| 2024-01-01 00:25:00|
|       1| 2024-01-01 00:35:16|
|       1| 2024-01-01 00:43:27|
|       1| 2024-01-01 00:51:53|
|       1| 2024-01-01 00:50:09|
|       1| 2024-01-01 00:41:06|
|       2| 2024-01-01 00:52:09|
|       2| 2024-01-01 00:56:38|
|       2| 2024-01-01 00:32:34|
+--------+--------------------+
only showing top 20 rows

In [69]:
#Read Parquet file
df_parq= spark.read.parquet(
    r'C:\Users\User\Documents\PORTFOLIO\NYC TAXI DATA\yellow_tripdata\yellow_tripdata_2024-01.parquet')

In [38]:
df_parq.show(1)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 1 row

In [39]:
df_parq.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [44]:
# Select columns
df_parq.select('VendorID','tpep_pickup_datetime').show(5)

+--------+--------------------+
|VendorID|tpep_pickup_datetime|
+--------+--------------------+
|       2| 2024-01-01 00:57:55|
|       1| 2024-01-01 00:03:00|
|       1| 2024-01-01 00:17:06|
|       1| 2024-01-01 00:36:38|
|       1| 2024-01-01 00:46:51|
+--------+--------------------+
only showing top 5 rows

In [47]:
df_parq.dtypes
df_parq.select('VendorID','tpep_pickup_datetime').dtypes

[('VendorID', 'int'), ('tpep_pickup_datetime', 'timestamp_ntz')]

In [50]:
df_parq.describe().show()

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|       RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+
|  count|           2964624|           2824462|           2964624|          2824462|           2824462|           2964624|           2964624|           2964624|           2964624|           2964624|            2964624|           2964624|           2964624|              2964624|           2964624|             2824462|            2824462|
|   mean|1.7542042431013174|1.3392808966805005|3.6521691789583146|2.069359403666964|              NULL|166.01788354948215|165.11671227110082|1.1612707041432573|18.175061916791037|1.4515984320439959| 0.4833823108765226|3.3358700158940002|0.5270212040378977|   0.9756318507844561|26.801504770952707|  2.2561220508542865|  0.141161130863152|
| stddev|0.4325902017036028|0.8502816924800847|225.46257238220082|9.823218952795623|              NULL| 63.62391448741358| 69.31534978524938|0.5808685566109485| 18.94954770590526|1.8041024767538902|0.11776003015379852| 3.896550599806763|2.1283096763989056|  0.21836445772742988|23.385577429672516|  0.8232746699398348|0.48762388723928013|
|    min|                 1|                 0|               0.0|                1|                 N|                 1|                 1|                 0|            -899.0|              -7.5|               -0.5|             -80.0|             -80.0|                 -1.0|            -900.0|                -2.5|              -1.75|
|    max|                 6|                 9|          312722.3|               99|                 Y|               265|               265|                 4|            5000.0|             14.25|                4.0|             428.0|            115.92|                  1.0|            5000.0|                 2.5|               1.75|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+

In [52]:
#Add column
# A simple add is df.withColumn('New Column Name',derived column_value)
from pyspark.sql.functions import when, col

df_parq.withColumn(
    "Vendor_name",
    when(col("VendorID") == 1, "Creative Mobile Technologies, LLC")
    .when(col("VendorID") == 2, "Curb Mobility, LLC")
    .when(col("VendorID") == 6, "Myle Technologies Inc")
    .when(col("VendorID") == 7, "Helix")
    .otherwise("No Vendor")
).show(1)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|       Vendor_name|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|Curb Mobility, LLC|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 1 row

In [70]:
# Use sql case when inside Pyspark
from pyspark.sql.functions import expr

df_parq = df_parq.withColumn(
    "vendor_name",
    expr("""
        CASE
            WHEN VendorID = 1 THEN 'Creative Mobile Technologies, LLC'
            WHEN VendorID = 2 THEN 'Curb Mobility, LLC'
            WHEN VendorID = 6 THEN 'Myle Technologies Inc'
            WHEN VendorID = 7 THEN 'Helix'
            ELSE 'No Vendor'
        END
    """)
)

In [67]:
df_parq.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|         Vendor_name|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|  Curb Mobility, LLC|
|       1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|          1.8|         1|                 N|         140|         236|           1|       10.0|  3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|Creative Mobile T...|
|       1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|Creative Mobile T...|
|       1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|          1.4|         1|                 N|          79|         211|           1|       10.0|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|Creative Mobile T...|
|       1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|Creative Mobile T...|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+
only showing top 5 rows

In [72]:
df_parq.printSchema()

DataFrame[VendorID: int, tpep_pickup_datetime: timestamp_ntz, tpep_dropoff_datetime: timestamp_ntz, passenger_count: bigint, trip_distance: double, RatecodeID: bigint, store_and_fwd_flag: string, PULocationID: int, DOLocationID: int, payment_type: bigint, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double, Airport_fee: double, vendor_name: string]

In [75]:
##Drop Columns
df_parq=df_parq.drop('vendor_name')

In [77]:
df_parq.show(1)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 1 row

In [79]:
## Rename columns
df_parq.withColumnRenamed('Airport_fee','airport_fee')

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 1 row