# Exploring Pyspark
Exploring Pyspark with NYC Yellow Taxi Data

In [1]:
#!pip install pyspark

In [2]:
#import pyspark

Pyspark will not run if Java is not installed on the computer. PySpark 4.x requires Java 17 or 21. PySpark 3.5 works perfectly with Java 8

In [3]:
#pyspark.__version__

In [4]:
#pip uninstall pyspark -y

In [5]:
# Force install pyspark version
#!pip install pyspark==3.5.1

In [6]:
import pyspark

In [7]:
from pyspark.sql.functions import expr,col, regexp_replace, coalesce, lit, when
from pyspark.sql import SparkSession

In [8]:
#Build a Pyspark Session
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [9]:
# read csv file in pyspark
df = spark.read.csv(
    r'C:\Users\User\Documents\PORTFOLIO\NYC TAXI DATA\yellow_tripdata\csv_trip_data\yellow_tripdata_2024-01.csv'
    ,header=True #sets the first row to be the header
    ,inferSchema = True #Default is string if infer Schema is not specified.Ensures to infer the correct datatype of columns. 
)

In [10]:
#Another way to read files
df=spark.read.option('header','true').csv(
    r'C:\Users\User\Documents\PORTFOLIO\NYC TAXI DATA\yellow_tripdata\csv_trip_data\yellow_tripdata_2024-01.csv'
)

In [11]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2|2024-01-01 00:57:...| 2024-01-01 01:17:...|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|    1|    0.5|         0|           0|                    1|        22.7|                 2.5|          0|
|       1|2024-01-01 00:03:...| 2024-01-01 00:09:...|              1|          1.8|         1|                 N|         140|         236|           1|         10|  3.5|    0.5|      3.75|           0|                    1|       18.75|                 2.5|          0|
|       1|2024-01-01 00:17:...| 2024-01-01 00:35:...|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|         3|           0|                    1|        31.3|                 2.5|          0|
|       1|2024-01-01 00:36:...| 2024-01-01 00:44:...|              1|          1.4|         1|                 N|          79|         211|           1|         10|  3.5|    0.5|         2|           0|                    1|          17|                 2.5|          0|
|       1|2024-01-01 00:46:...| 2024-01-01 00:52:...|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|           0|                    1|        16.1|                 2.5|          0|
|       1|2024-01-01 00:54:...| 2024-01-01 01:26:...|              1|          4.7|         1|                 N|         148|         141|           1|       29.6|  3.5|    0.5|       6.9|           0|                    1|        41.5|                 2.5|          0|
|       2|2024-01-01 00:49:...| 2024-01-01 01:15:...|              2|        10.82|         1|                 N|         138|         181|           1|       45.7|    6|    0.5|        10|           0|                    1|       64.95|                   0|       1.75|
|       1|2024-01-01 00:30:...| 2024-01-01 00:58:...|              0|            3|         1|                 N|         246|         231|           2|       25.4|  3.5|    0.5|         0|           0|                    1|        30.4|                 2.5|          0|
|       2|2024-01-01 00:26:...| 2024-01-01 00:54:...|              1|         5.44|         1|                 N|         161|         261|           2|         31|    1|    0.5|         0|           0|                    1|          36|                 2.5|          0|
|       2|2024-01-01 00:28:...| 2024-01-01 00:29:...|              1|         0.04|         1|                 N|         113|         113|           2|          3|    1|    0.5|         0|           0|                    1|           8|                 2.5|          0|
|       2|2024-01-01 00:35:...| 2024-01-01 00:41:...|              2|         0.75|         1|                 N|         107|         137|           1|        7.9|    1|    0.5|         0|           0|                    1|        12.9|                 2.5|          0|
|       1|2024-01-01 00:25:...| 2024-01-01 00:34:...|              2|          1.2|         1|                 N|         158|         246|           1|       14.9|  3.5|    0.5|      3.95|           0|                    1|       23.85|                 2.5|          0|
|       1|2024-01-01 00:35:...| 2024-01-01 01:11:...|              2|          8.2|         1|                 N|         246|         190|           1|         59|  3.5|    0.5|     14.15|        6.94|                    1|       85.09|                 2.5|          0|
|       1|2024-01-01 00:43:...| 2024-01-01 00:47:...|              2|          0.4|         1|                 N|          68|          90|           1|        5.8|  3.5|    0.5|      1.25|           0|                    1|       12.05|                 2.5|          0|
|       1|2024-01-01 00:51:...| 2024-01-01 00:55:...|              1|          0.8|         1|                 N|          90|          68|           2|        6.5|  3.5|    0.5|         0|           0|                    1|        11.5|                 2.5|          0|
|       1|2024-01-01 00:50:...| 2024-01-01 01:03:...|              1|            5|         1|                 N|         132|         216|           2|       21.2| 2.75|    0.5|         0|           0|                    1|       25.45|                   0|       1.75|
|       1|2024-01-01 00:41:...| 2024-01-01 00:53:...|              1|          1.5|         1|                 N|         164|          79|           1|       12.8|  3.5|    0.5|      4.45|           0|                    1|       22.25|                 2.5|          0|
|       2|2024-01-01 00:52:...| 2024-01-01 00:52:...|              1|            0|         1|                 N|         237|         237|           2|          3|    1|    0.5|         0|           0|                    1|           8|                 2.5|          0|
|       2|2024-01-01 00:56:...| 2024-01-01 01:03:...|              1|          1.5|         1|                 N|         141|         263|           1|        9.3|    1|    0.5|         3|           0|                    1|        17.3|                 2.5|          0|
|       2|2024-01-01 00:32:...| 2024-01-01 00:49:...|              1|         2.57|         1|                 N|         161|         263|           1|       17.7|    1|    0.5|        10|           0|                    1|        32.7|                 2.5|          0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [12]:
# Check dataframe type
type(df)

pyspark.sql.dataframe.DataFrame

In [13]:
#Print Schema
df.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)
 |-- Airport_fee: string (nullable = true)

In [14]:
# Select columns in pyspark
df.select('VendorID','tpep_pickup_datetime').show()

+--------+--------------------+
|VendorID|tpep_pickup_datetime|
+--------+--------------------+
|       2|2024-01-01 00:57:...|
|       1|2024-01-01 00:03:...|
|       1|2024-01-01 00:17:...|
|       1|2024-01-01 00:36:...|
|       1|2024-01-01 00:46:...|
|       1|2024-01-01 00:54:...|
|       2|2024-01-01 00:49:...|
|       1|2024-01-01 00:30:...|
|       2|2024-01-01 00:26:...|
|       2|2024-01-01 00:28:...|
|       2|2024-01-01 00:35:...|
|       1|2024-01-01 00:25:...|
|       1|2024-01-01 00:35:...|
|       1|2024-01-01 00:43:...|
|       1|2024-01-01 00:51:...|
|       1|2024-01-01 00:50:...|
|       1|2024-01-01 00:41:...|
|       2|2024-01-01 00:52:...|
|       2|2024-01-01 00:56:...|
|       2|2024-01-01 00:32:...|
+--------+--------------------+
only showing top 20 rows

In [15]:
#Read Parquet file
df_parq= spark.read.parquet(
    r'C:\Users\User\Documents\PORTFOLIO\NYC TAXI DATA\yellow_tripdata\yellow_tripdata_2024-01.parquet')

In [16]:
df_parq.show(1)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 1 row

In [17]:
df_parq.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [18]:
# Select columns
df_parq.select('VendorID','tpep_pickup_datetime','store_and_fwd_flag').show(5)

+--------+--------------------+------------------+
|VendorID|tpep_pickup_datetime|store_and_fwd_flag|
+--------+--------------------+------------------+
|       2| 2024-01-01 00:57:55|                 N|
|       1| 2024-01-01 00:03:00|                 N|
|       1| 2024-01-01 00:17:06|                 N|
|       1| 2024-01-01 00:36:38|                 N|
|       1| 2024-01-01 00:46:51|                 N|
+--------+--------------------+------------------+
only showing top 5 rows

In [19]:
df_parq.select('store_and_fwd_flag').distinct().show(5)

+------------------+
|store_and_fwd_flag|
+------------------+
|                 Y|
|                 N|
|              NULL|
+------------------+

In [20]:
df_parq.dtypes
df_parq.select('VendorID','tpep_pickup_datetime').dtypes

[('VendorID', 'int'), ('tpep_pickup_datetime', 'timestamp_ntz')]

In [21]:
df_parq.describe().show()

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|       RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+
|  count|           2964624|           2824462|           2964624|          2824462|           2824462|           2964624|           2964624|           2964624|           2964624|           2964624|            2964624|           2964624|           2964624|              2964624|           2964624|             2824462|            2824462|
|   mean|1.7542042431013174|1.3392808966805005|3.6521691789583146|2.069359403666964|              NULL|166.01788354948215|165.11671227110082|1.1612707041432573|18.175061916791037|1.4515984320439959| 0.4833823108765226|3.3358700158940002|0.5270212040378977|   0.9756318507844561|26.801504770952707|  2.2561220508542865|  0.141161130863152|
| stddev|0.4325902017036028|0.8502816924800847|225.46257238220082|9.823218952795623|              NULL| 63.62391448741358| 69.31534978524938|0.5808685566109485| 18.94954770590526|1.8041024767538902|0.11776003015379852| 3.896550599806763|2.1283096763989056|  0.21836445772742988|23.385577429672516|  0.8232746699398348|0.48762388723928013|
|    min|                 1|                 0|               0.0|                1|                 N|                 1|                 1|                 0|            -899.0|              -7.5|               -0.5|             -80.0|             -80.0|                 -1.0|            -900.0|                -2.5|              -1.75|
|    max|                 6|                 9|          312722.3|               99|                 Y|               265|               265|                 4|            5000.0|             14.25|                4.0|             428.0|            115.92|                  1.0|            5000.0|                 2.5|               1.75|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+

# Transformation Steps

In [22]:
#Add column
# A simple add is df.withColumn('New Column Name',derived column_value).col references a dataframe column that is called
df_parq.withColumn("Vendor_name",
    when(col("VendorID") == 1, "Creative Mobile Technologies, LLC")
    .when(col("VendorID") == 2, "Curb Mobility, LLC")
    .when(col("VendorID") == 6, "Myle Technologies Inc")
    .when(col("VendorID") == 7, "Helix")
    .otherwise("No Vendor")
)\
.withColumn(
        "store_and_forward_trip_flag",
        coalesce(regexp_replace(col("store_and_fwd_flag"), '"', ''), lit("N/A"))
).show(1)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+---------------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|       Vendor_name|store_and_forward_trip_flag|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+---------------------------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|Curb Mobility, LLC|                          N|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+---------------------------+
only showing top 1 row

In [23]:
# Use sql case when inside Pyspark

## Add additional columns. To add multiple columns just continue adding .withColumn after each column. \ specifies a new line

df_parq = df_parq\
.withColumn(
    "vendor_name",
    expr("""
        case
            when vendorID = 1 then 'Creative Mobile Technologies, LLC'
            when VendorID = 2 then 'Curb Mobility, LLC'
            when VendorID = 6 then 'Myle Technologies Inc'
            when VendorID = 7 then 'Helix'
            else 'No Vendor'
        end
    """)
)\
.withColumn(
    "rate_code_type",
    expr("""
        case 
            when ratecodeid = 1 then 'Standard rate'
            when ratecodeid = 2 then 'JFK'
            when ratecodeid = 3 then 'Newark'
            when ratecodeid = 4 then 'Nassau or Westchester'
            when ratecodeid = 5 then 'Negotiated fare'
            when ratecodeid = 6 then 'Group ride'
            when ratecodeid = 99 then 'Unknown'
            else 'N/A'
        end
    """)
)\
.withColumn(
    "payment_type", #since column name already exists, it overwrites it
    expr("""
        case
            when payment_type = 0 then 'Flex Fare trip'
            when payment_type = 1 then 'Credit card'
            when payment_type = 2 then 'Cash'
            when payment_type = 3 then 'No charge'
            when payment_type = 4 then 'Dispute'
            when payment_type = 5 then 'Unknown'
            when payment_type = 6 then 'Voided trip'
            else 'N/A'
        end
    """)
)

In [24]:
#Add forgotten column
df_parq = df_parq\
.withColumn("trip_duration_mins", 
            expr("(unix_timestamp(tpep_dropoff_datetime) - unix_timestamp(tpep_pickup_datetime)) / 60")
)\
.withColumn("store_and_forward_trip_flag",
            expr("coalesce(regexp_replace(store_and_fwd_flag, '\"', ''), 'N/A')")
)

In [25]:
df_parq.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------+------------------+---------------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|         vendor_name|rate_code_type|trip_duration_mins|store_and_forward_trip_flag|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------+------------------+---------------------------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|        Cash|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|  Curb Mobility, LLC| Standard rate|              19.8|                          N|
|       1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|          1.8|         1|                 N|         140|         236| Credit card|       10.0|  3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|Creative Mobile T...| Standard rate|               6.6|                          N|
|       1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|          4.7|         1|                 N|         236|          79| Credit card|       23.3|  3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|Creative Mobile T...| Standard rate|17.916666666666668|                          N|
|       1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|          1.4|         1|                 N|          79|         211| Credit card|       10.0|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|Creative Mobile T...| Standard rate|               8.3|                          N|
|       1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|          0.8|         1|                 N|         211|         148| Credit card|        7.9|  3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|Creative Mobile T...| Standard rate|               6.1|                          N|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------+------------------+---------------------------+
only showing top 5 rows

In [26]:
df_parq.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: string (nullable = false)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- vendor_name: string (nullable = false)
 |-- rate_code_type: string (nullable = false)
 |-- trip_duration_mins: double (nullable = true)
 |-- store_and_forward_trip_flag: string (nullable = false)

In [27]:
##Drop Columns
df_parq=df_parq.drop('store_and_fwd_flag')

In [28]:
df_parq.show(1)

+--------+--------------------+---------------------+---------------+-------------+----------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+--------------+------------------+---------------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|       vendor_name|rate_code_type|trip_duration_mins|store_and_forward_trip_flag|
+--------+--------------------+---------------------+---------------+-------------+----------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+--------------+------------------+---------------------------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|         186|          79|        Cash|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|Curb Mobility, LLC| Standard rate|              19.8|                          N|
+--------+--------------------+---------------------+---------------+-------------+----------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+--------------+------------------+---------------------------+
only showing top 1 row

In [29]:
## Rename columns
#df_parq.withColumnRenamed('Airport_fee','airport_fee')

In [30]:
##Rename multiple columns
df_parq=df_parq\
    .withColumnRenamed('VendorID','vendor_id').withColumnRenamed('RatecodeID','rate_code_id')\
    .withColumnRenamed('tpep_pickup_datetime','pickup_time').withColumnRenamed('tpep_dropoff_datetime','dropoff_time')\
    .withColumnRenamed('DOLocationID','dropoff_zone').withColumnRenamed('PULocationID','pickup_zone')\
    .withColumnRenamed('Airport_fee','airport_fee').withColumnRenamed('extra','extra_fees')

In [31]:
df_parq.show(2)

+---------+-------------------+-------------------+---------------+-------------+------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------+------------------+---------------------------+
|vendor_id|        pickup_time|       dropoff_time|passenger_count|trip_distance|rate_code_id|pickup_zone|dropoff_zone|payment_type|fare_amount|extra_fees|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|         vendor_name|rate_code_type|trip_duration_mins|store_and_forward_trip_flag|
+---------+-------------------+-------------------+---------------+-------------+------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------+------------------+---------------------------+
|        2|2024-01-01 00:57:55|2024-01-01 01:17:43|              1|         1.72|           1|        186|          79|        Cash|       17.7|       1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|  Curb Mobility, LLC| Standard rate|              19.8|                          N|
|        1|2024-01-01 00:03:00|2024-01-01 00:09:36|              1|          1.8|           1|        140|         236| Credit card|       10.0|       3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|Creative Mobile T...| Standard rate|               6.6|                          N|
+---------+-------------------+-------------------+---------------+-------------+------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------+------------------+---------------------------+
only showing top 2 rows

In [32]:
# reorder columns
cols = [
        "vendor_id","vendor_name","pickup_time","dropoff_time","trip_duration_mins","passenger_count","trip_distance"
        ,"rate_code_id","rate_code_type","store_and_forward_trip_flag","pickup_zone","dropoff_zone","payment_type"
        ,"fare_amount","extra_fees","mta_tax","tip_amount","tolls_amount","improvement_surcharge","total_amount"
        ,"congestion_surcharge","airport_fee"
       ]
df_parq= df_parq.select(cols)

In [33]:
df_parq.show(3)

+---------+--------------------+-------------------+-------------------+------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+
|vendor_id|         vendor_name|        pickup_time|       dropoff_time|trip_duration_mins|passenger_count|trip_distance|rate_code_id|rate_code_type|store_and_forward_trip_flag|pickup_zone|dropoff_zone|payment_type|fare_amount|extra_fees|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+---------+--------------------+-------------------+-------------------+------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+
|        2|  Curb Mobility, LLC|2024-01-01 00:57:55|2024-01-01 01:17:43|              19.8|              1|         1.72|           1| Standard rate|                          N|        186|          79|        Cash|       17.7|       1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|
|        1|Creative Mobile T...|2024-01-01 00:03:00|2024-01-01 00:09:36|               6.6|              1|          1.8|           1| Standard rate|                          N|        140|         236| Credit card|       10.0|       3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|
|        1|Creative Mobile T...|2024-01-01 00:17:06|2024-01-01 00:35:01|17.916666666666668|              1|          4.7|           1| Standard rate|                          N|        236|          79| Credit card|       23.3|       3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|
+---------+--------------------+-------------------+-------------------+------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 3 rows

In [34]:
# filter can be done both ways

#df_parq.filter('trip_distance <= 0').show()
df_parq.filter(df_parq['trip_distance'] <= 0).show(1)

+---------+------------------+-------------------+-------------------+-------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+
|vendor_id|       vendor_name|        pickup_time|       dropoff_time| trip_duration_mins|passenger_count|trip_distance|rate_code_id|rate_code_type|store_and_forward_trip_flag|pickup_zone|dropoff_zone|payment_type|fare_amount|extra_fees|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+---------+------------------+-------------------+-------------------+-------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+
|        2|Curb Mobility, LLC|2024-01-01 00:52:09|2024-01-01 00:52:28|0.31666666666666665|              1|          0.0|           1| Standard rate|                          N|        237|         237|        Cash|        3.0|       1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
+---------+------------------+-------------------+-------------------+-------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 1 row

In [35]:
#select only necessary rows
df_parq.filter('trip_distance <= 0').select(['vendor_name','trip_distance']).show()

+--------------------+-------------+
|         vendor_name|trip_distance|
+--------------------+-------------+
|  Curb Mobility, LLC|          0.0|
|Creative Mobile T...|          0.0|
|Creative Mobile T...|          0.0|
|Creative Mobile T...|          0.0|
|Creative Mobile T...|          0.0|
|Creative Mobile T...|          0.0|
|  Curb Mobility, LLC|          0.0|
|Creative Mobile T...|          0.0|
|Creative Mobile T...|          0.0|
|  Curb Mobility, LLC|          0.0|
|  Curb Mobility, LLC|          0.0|
|  Curb Mobility, LLC|          0.0|
|Creative Mobile T...|          0.0|
|  Curb Mobility, LLC|          0.0|
|  Curb Mobility, LLC|          0.0|
|  Curb Mobility, LLC|          0.0|
|  Curb Mobility, LLC|          0.0|
|Creative Mobile T...|          0.0|
|  Curb Mobility, LLC|          0.0|
|  Curb Mobility, LLC|          0.0|
+--------------------+-------------+
only showing top 20 rows

In [36]:
#multiple filter operations --& for and | for or 
df_parq.filter( (df_parq['trip_distance'] <= 0) & (df_parq['tip_amount'] > 0)  ).\
select('vendor_name','pickup_time','dropoff_time','trip_distance','tip_amount','fare_amount','payment_type').show()

+--------------------+-------------------+-------------------+-------------+----------+-----------+------------+
|         vendor_name|        pickup_time|       dropoff_time|trip_distance|tip_amount|fare_amount|payment_type|
+--------------------+-------------------+-------------------+-------------+----------+-----------+------------+
|Creative Mobile T...|2024-01-01 00:58:50|2024-01-01 01:01:10|          0.0|       2.0|        4.4| Credit card|
|Creative Mobile T...|2024-01-01 00:15:16|2024-01-01 00:26:58|          0.0|       3.1|       10.7| Credit card|
|Creative Mobile T...|2024-01-01 00:39:34|2024-01-01 01:04:02|          0.0|       2.0|       19.8| Credit card|
|Creative Mobile T...|2024-01-01 00:25:58|2024-01-01 00:27:19|          0.0|       2.2|       10.0| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:28:27|2024-01-01 00:29:15|          0.0|      36.2|      180.0| Credit card|
|Creative Mobile T...|2024-01-01 00:31:06|2024-01-01 00:42:00|          0.0|       8.0|        3.0| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:45:06|2024-01-01 00:45:22|          0.0|       6.7|       30.0| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:26:59|2024-01-01 00:32:45|          0.0|       2.3|        6.5| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:34:49|2024-01-01 01:10:54|          0.0|      8.12|       27.5| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:12:50|2024-01-01 00:12:58|          0.0|     33.69|     133.75| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:11:40|2024-01-01 00:24:29|          0.0|      3.28|       11.4| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:26:43|2024-01-01 00:39:20|          0.0|      3.28|       11.4| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:48:03|2024-01-01 00:52:44|          0.0|      2.16|        5.8| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:54:56|2024-01-01 00:57:38|          0.0|      1.88|        4.4| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:58:33|2024-01-01 01:15:58|          0.0|      5.97|       14.9| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:04:43|2024-01-01 00:05:04|          0.0|       1.6|        3.0| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:26:49|2024-01-01 00:39:02|          0.0|      3.28|       11.4| Credit card|
|Creative Mobile T...|2024-01-01 00:33:59|2024-01-01 00:34:28|          0.0|       2.0|       30.0| Credit card|
|  Curb Mobility, LLC|2024-01-01 00:56:55|2024-01-01 00:57:03|          0.0|      10.0|       36.0| Credit card|
|Creative Mobile T...|2024-01-01 00:48:35|2024-01-01 00:49:50|          0.0|      12.2|       60.0| Credit card|
+--------------------+-------------------+-------------------+-------------+----------+-----------+------------+
only showing top 20 rows

In [37]:
df_parq.count()

2964624

In [38]:
#invalid trip data to be stored for data quality checks
df_invalid_tripdata = df_parq.filter((df_parq['trip_distance'] <= 0) | (df_parq['fare_amount'] <= 0) | (df_parq['passenger_count'] <= 0) )

In [39]:
df_invalid_tripdata.select('vendor_name','pickup_time','dropoff_time','trip_distance','tip_amount','fare_amount','passenger_count').show(5)

+--------------------+-------------------+-------------------+-------------+----------+-----------+---------------+
|         vendor_name|        pickup_time|       dropoff_time|trip_distance|tip_amount|fare_amount|passenger_count|
+--------------------+-------------------+-------------------+-------------+----------+-----------+---------------+
|Creative Mobile T...|2024-01-01 00:30:40|2024-01-01 00:58:40|          3.0|       0.0|       25.4|              0|
|  Curb Mobility, LLC|2024-01-01 00:52:09|2024-01-01 00:52:28|          0.0|       0.0|        3.0|              1|
|Creative Mobile T...|2024-01-01 00:14:29|2024-01-01 00:14:29|          0.0|       0.0|        3.0|              1|
|  Curb Mobility, LLC|2024-01-01 00:18:24|2024-01-01 00:30:39|         2.16|       0.0|      -13.5|              1|
|Creative Mobile T...|2024-01-01 00:58:50|2024-01-01 01:01:10|          0.0|       2.0|        4.4|              1|
+--------------------+-------------------+-------------------+-------------+----------+-----------+---------------+
only showing top 5 rows

In [40]:
# Option 1 to exclude invalid trip data and only work with valid trips. This performs set difference, doesn't exclude nulls, expensive and not best practice for ETL purpose
#df_clean1=df_parq.subtract(df_invalid_tripdata) #remove invalid data from whole dataset 

# Option 2 filters only what is needed and handles null properly
df_clean=df_parq.filter( (df_parq['trip_distance'] > 0) & (df_parq['fare_amount'] > 0) & (df_parq['passenger_count'] > 0) )

In [41]:
# Validation check 
df_clean.filter((df_parq['trip_distance'] <= 0) | (df_parq['fare_amount'] <= 0) | (df_parq['passenger_count'] <= 0) )\
.select('vendor_name','pickup_time','dropoff_time','trip_distance','fare_amount','passenger_count').count()

0

In [42]:
#flag anomalies and log into another dataframe
df_clean.filter((df_parq['trip_duration_mins'] > 180) & (df_parq['trip_distance'] > 100) & (df_parq['fare_amount'] > 500))\
.select('vendor_name','pickup_time','dropoff_time','trip_distance','fare_amount','trip_duration_mins').show()

+--------------------+-------------------+-------------------+-------------+-----------+------------------+
|         vendor_name|        pickup_time|       dropoff_time|trip_distance|fare_amount|trip_duration_mins|
+--------------------+-------------------+-------------------+-------------+-----------+------------------+
|  Curb Mobility, LLC|2024-01-02 07:50:08|2024-01-02 11:29:29|       233.25|     1616.5|            219.35|
|Creative Mobile T...|2024-01-16 19:00:33|2024-01-16 23:07:48|        210.2|      650.0|            247.25|
|  Curb Mobility, LLC|2024-01-17 10:46:15|2024-01-17 13:48:11|       109.75|      761.1|181.93333333333334|
|Creative Mobile T...|2024-01-26 12:49:27|2024-01-26 16:01:22|        153.2|      550.4|191.91666666666666|
+--------------------+-------------------+-------------------+-------------+-----------+------------------+

In [43]:
from pyspark.sql.functions import array, when, col, size, lit

anomalies_data = df_clean.withColumn(
    "anomaly_type",
    array(
        when(col("fare_amount") > 500, lit("high_fare")) ,
        when(col("trip_distance") > 100, lit("long_distance")),
        when(col("trip_duration_mins") > 180,lit( "long_duration")),
        when(col("passenger_count") > 6, lit("high_passenger_count"))
    ) #returns an array of the type of anomaly for each condition
).withColumn("anomaly_type",
    expr("filter(anomaly_type, x -> x is not null)") #removes null anomaly to focus on actual anomalies
).filter(
    size(col("anomaly_type")) > 0 #only retains those with anomaly
)

In [44]:
anomalies_data.filter(size(col("anomaly_type")) > 1).select('vendor_name','trip_distance','fare_amount','trip_duration_mins','anomaly_type').show(truncate=False)

+---------------------------------+-------------+-----------+------------------+-----------------------------------------+
|vendor_name                      |trip_distance|fare_amount|trip_duration_mins|anomaly_type                             |
+---------------------------------+-------------+-----------+------------------+-----------------------------------------+
|Curb Mobility, LLC               |233.25       |1616.5     |219.35            |[high_fare, long_distance, long_duration]|
|Curb Mobility, LLC               |142.62       |912.3      |160.1             |[high_fare, long_distance]               |
|Curb Mobility, LLC               |111.57       |678.5      |114.38333333333334|[high_fare, long_distance]               |
|Curb Mobility, LLC               |210.82       |500.0      |186.46666666666667|[long_distance, long_duration]           |
|Curb Mobility, LLC               |31.95        |2221.3     |3106.1833333333334|[high_fare, long_duration]               |
|Curb Mobility, LLC               |122.47       |749.2      |131.01666666666668|[high_fare, long_distance]               |
|Creative Mobile Technologies, LLC|210.2        |650.0      |247.25            |[high_fare, long_distance, long_duration]|
|Curb Mobility, LLC               |109.75       |761.1      |181.93333333333334|[high_fare, long_distance, long_duration]|
|Curb Mobility, LLC               |110.46       |669.4      |126.98333333333333|[high_fare, long_distance]               |
|Curb Mobility, LLC               |157.25       |899.0      |150.61666666666667|[high_fare, long_distance]               |
|Creative Mobile Technologies, LLC|153.2        |550.4      |191.91666666666666|[high_fare, long_distance, long_duration]|
|Curb Mobility, LLC               |120.76       |744.3      |166.5             |[high_fare, long_distance]               |
|Curb Mobility, LLC               |119.46       |739.4      |146.38333333333333|[high_fare, long_distance]               |
+---------------------------------+-------------+-----------+------------------+-----------------------------------------+

## Get Taxi Zone Lookup to further enrich data

In [45]:
import time 
import os
import requests
import pandas as pd
import pyarrow.parquet as pq
import pyarrow.csv as pc
from datetime import datetime

In [46]:
#read the files directly from download without saving
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
taxi_zones = pd.read_csv(url)
taxi_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [47]:
#download from a link and save scv
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
folder = 'C:/Users/User/Documents/PORTFOLIO/NYC TAXI DATA/taxi_zones_lookup'
filename = 'taxi_zones_lookup.csv'
os.makedirs(folder, exist_ok=True) #create folder in specified directory, if folder already exists exist_ok prevents error

file_path = os.path.join(folder, filename)
r = requests.get(url, stream=True, timeout=60) 
with open(file_path, "wb") as f:
    f.write(r.content)

In [48]:
#read csv from folder with pandas
#df = pd.read_csv('C:/Users/User/Documents/PORTFOLIO/NYC TAXI DATA/taxi_zones_lookup/taxi_zones_lookup.csv')
file_location = f'{folder}/{filename}'
#print(file_location)
taxi_zones = pd.read_csv(file_location)
taxi_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [49]:
# read csv in spark
file_location = f'{folder}/{filename}'
taxi_zones=spark.read.csv(file_location
    ,header=True #sets the first row to be the header
    ,inferSchema = True #Default is string if infer Schema is not specified.Ensures to infer the correct datatype of columns. 
)

In [50]:
taxi_zones.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [51]:
df_clean.select('vendor_name','pickup_zone','dropoff_zone').show(5,truncate=False)

+---------------------------------+-----------+------------+
|vendor_name                      |pickup_zone|dropoff_zone|
+---------------------------------+-----------+------------+
|Curb Mobility, LLC               |186        |79          |
|Creative Mobile Technologies, LLC|140        |236         |
|Creative Mobile Technologies, LLC|236        |79          |
|Creative Mobile Technologies, LLC|79         |211         |
|Creative Mobile Technologies, LLC|211        |148         |
+---------------------------------+-----------+------------+
only showing top 5 rows

In [52]:
#Join the taxi zones and drop location ID
taxi_zones_pickup = taxi_zones.alias('a')
taxi_zones_dropoff =taxi_zones.alias('b')

df_clean=df_clean\
.join(taxi_zones_pickup,df_clean.pickup_zone ==taxi_zones_pickup.LocationID, 'left')\
.withColumnRenamed("Zone", "pickup_zone_name") \
.withColumnRenamed("Borough", "pickup_borough_name")\
.withColumnRenamed("service_zone", "pickup_service_zone")\
.join(taxi_zones_dropoff,df_clean.dropoff_zone ==taxi_zones_dropoff.LocationID, 'left')\
.withColumnRenamed("Zone", "dropoff_zone_name") \
.withColumnRenamed("Borough", "dropoff_borough_name")\
.withColumnRenamed("service_zone", "dropoff_service_zone").drop('locationid')

In [53]:
df_clean.select(
    "pickup_zone", "pickup_zone_name", "pickup_borough_name","pickup_service_zone",
    "dropoff_zone", "dropoff_zone_name","dropoff_borough_name", "dropoff_service_zone"
).show(5,truncate=False)

+-----------+----------------------------+-------------------+-------------------+------------+---------------------+--------------------+--------------------+
|pickup_zone|pickup_zone_name            |pickup_borough_name|pickup_service_zone|dropoff_zone|dropoff_zone_name    |dropoff_borough_name|dropoff_service_zone|
+-----------+----------------------------+-------------------+-------------------+------------+---------------------+--------------------+--------------------+
|186        |Penn Station/Madison Sq West|Manhattan          |Yellow Zone        |79          |East Village         |Manhattan           |Yellow Zone         |
|140        |Lenox Hill East             |Manhattan          |Yellow Zone        |236         |Upper East Side North|Manhattan           |Yellow Zone         |
|236        |Upper East Side North       |Manhattan          |Yellow Zone        |79          |East Village         |Manhattan           |Yellow Zone         |
|79         |East Village                |Manhattan          |Yellow Zone        |211         |SoHo                 |Manhattan           |Yellow Zone         |
|211        |SoHo                        |Manhattan          |Yellow Zone        |148         |Lower East Side      |Manhattan           |Yellow Zone         |
+-----------+----------------------------+-------------------+-------------------+------------+---------------------+--------------------+--------------------+
only showing top 5 rows

In [59]:
df_clean.show(1)

+---------+------------------+-------------------+-------------------+------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+--------------------+-------------------+--------------------+-----------------+--------------------+
|vendor_id|       vendor_name|        pickup_time|       dropoff_time|trip_duration_mins|passenger_count|trip_distance|rate_code_id|rate_code_type|store_and_forward_trip_flag|pickup_zone|dropoff_zone|payment_type|fare_amount|extra_fees|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_borough_name|    pickup_zone_name|pickup_service_zone|dropoff_borough_name|dropoff_zone_name|dropoff_service_zone|
+---------+------------------+-------------------+-------------------+------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+--------------------+-------------------+--------------------+-----------------+--------------------+
|        2|Curb Mobility, LLC|2024-01-01 00:57:55|2024-01-01 01:17:43|              19.8|              1|         1.72|           1| Standard rate|                          N|        186|          79|        Cash|       17.7|       1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|          Manhattan|Penn Station/Madi...|        Yellow Zone|           Manhattan|     East Village|         Yellow Zone|
+---------+------------------+-------------------+-------------------+------------------+---------------+-------------+------------+--------------+---------------------------+-----------+------------+------------+-----------+----------+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+--------------------+-------------------+--------------------+-----------------+--------------------+
only showing top 1 row

## Aggregations

In [77]:
df_clean.groupby('vendor_name').count().show()

+--------------------+-------+
|         vendor_name|  count|
+--------------------+-------+
|  Curb Mobility, LLC|2085147|
|Creative Mobile T...| 638658|
+--------------------+-------+

In [85]:
#df_clean.groupby('vendor_name').sum().show() #sums all other columns and group by specified column
#df_clean.groupby('vendor_name').sum('fare_amount').show()
df_clean.groupby('vendor_name','pickup_zone_name').sum('fare_amount','tolls_amount','tip_amount','total_amount').show()

+--------------------+--------------------+------------------+------------------+------------------+------------------+
|         vendor_name|    pickup_zone_name|  sum(fare_amount)| sum(tolls_amount)|   sum(tip_amount)| sum(total_amount)|
+--------------------+--------------------+------------------+------------------+------------------+------------------+
|Creative Mobile T...|        North Corona|            1074.5|             41.64|             33.95|1214.5900000000001|
|  Curb Mobility, LLC|Financial Distric...|112264.08999999992|1609.0800000000008|19203.539999999986|156977.46000000002|
|Creative Mobile T...|        Astoria Park|             260.5|             11.87|              19.3|            300.17|
|Creative Mobile T...|    Brooklyn Heights| 6797.600000000001|             27.76|            469.61| 7954.470000000001|
|  Curb Mobility, LLC|          Bath Beach|236.59999999999997|               0.0|             65.55|324.40000000000003|
|  Curb Mobility, LLC|    Bensonhurst West|             282.0|             13.88|             37.94|            356.82|
|Creative Mobile T...|       Fresh Meadows|            1793.5|             83.28|             47.55|           1997.83|
|Creative Mobile T...|            Red Hook|            2035.1|             41.64|              38.6|           2227.84|
|  Curb Mobility, LLC|           Rego Park|3322.3399999999992|            182.19|            515.81|           4250.84|
|  Curb Mobility, LLC|             Gowanus| 649.4000000000001|               0.0|118.32999999999998|            861.73|
|Creative Mobile T...|          Co-Op City|           13121.3| 705.6199999999999|               0.0|14305.419999999998|
|  Curb Mobility, LLC|East Flatbush/Rem...|             189.5|               0.0|               0.0|             210.0|
|  Curb Mobility, LLC|Springfield Garde...|             711.6|              6.94|            148.36| 894.3999999999999|
|  Curb Mobility, LLC|     Columbia Street|            769.18|             57.89|101.22999999999999| 998.3000000000001|
|Creative Mobile T...|      Yorkville East|128280.00000000009|1760.4100000000012|26537.350000000028|200484.15999999986|
|Creative Mobile T...|    South Ozone Park|           7633.69| 337.0999999999999|            357.14|           8662.43|
|  Curb Mobility, LLC|Mott Haven/Port M...|            4291.0| 75.71000000000001|             111.7|           4718.91|
|Creative Mobile T...|     Queensboro Hill|            1152.8|              34.7|               0.0|            1251.0|
|Creative Mobile T...|        Battery Park|4013.2999999999997|             41.64|             578.0| 5370.439999999999|
|  Curb Mobility, LLC|          Ocean Hill|             435.3|               0.0|             46.04|            531.84|
+--------------------+--------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [80]:
#dict style doesn't directly support alias or renaming aggregated columns
df_clean.agg({'fare_amount':'sum'}).show()

df_clean.groupby('vendor_name','pickup_zone_name')\
.agg({'fare_amount':'sum','tolls_amount':'sum','*':'count','tip_amount':'sum','trip_distance':'avg','trip_duration_mins':'avg'})\
.show()

+------------------+
|  sum(fare_amount)|
+------------------+
|5.02339728700016E7|
+------------------+

In [118]:
from pyspark.sql.functions import count, sum, avg, to_date
  
datamart_pickup_trips=df_clean.withColumn('pickup_date',to_date('pickup_time'))\
.groupby('vendor_name','pickup_zone_name','pickup_date')\
.agg(
    sum('fare_amount').alias('total_fare_amount'),
    count('*').alias('trip_count'),
    sum('tolls_amount').alias('total_tolls_amount'),
    sum('tip_amount').alias('total_tip_amount'),
    avg('trip_distance').alias('avg_trip_distance'),
    avg('trip_duration_mins').alias('avg_trip_duration_mins'),

)

## Other Transformation functions for knowledge base ...Not required for this project

In [54]:
#Drop rows
#df_parq.select('trip_distance').distinct().show()

In [55]:
#df.na.drop(how="any",thresh=2,subset=['columnname']).show()
parameters inside drop()
how - can accept 2 values:
    any - drop rows with any values as null
    all - drop rows with all values as null
thresh - specifies the threshold of non null values required to be present
    if thresh is set to 2, it deletes rows where less than 2 non null values appear
subset - deletes null values in the specified column

SyntaxError: invalid syntax (2089086547.py, line 2)

In [ ]:
df_parq.selectExpr(
    *[f"count({c}) as {c}" for c in df_parq.columns]
).show() #count values in each column

In [ ]:
df_parq.filter(col("trip_distance").isNull()).show(5)
#df_parq.filter(col("passenger_count").isNull()).count() #count null values in column
#df_drop_test = df_parq.na.drop(how="any",thresh=20)

In [ ]:
#df_drop_test.filter(col("passenger_count").isNull()).count()
df_drop_test.selectExpr(
    *[f"count({c}) as {c}" for c in df_drop_test.columns]
).show() #count values in each column

In [ ]:
# filling missing values
#df.na.fill('updatedvalue',subset)
df_parq.select('passenger_count').distinct().show()

In [ ]:
df=df_parq.na.fill('Unknown','passenger_count')

In [ ]:
df.select('passenger_count').distinct().show()